.body {
  background-color: #100706;
  color: #f1678a;
  min-height: 100%;

}

.wrapper {
  min-height: 100%;
  height: fit-content;
  background-color: #212241;
}

.feedbackForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;

  color: black;
  font-weight: bold;
  height: 10rem !important;
  background-color: whitesmoke;
  border-radius: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
  display: grid;
  align-items: center;
}
thead {
  justify-self: center;
  width: 70%;
}

thead tr {
  display: flex;
  justify-content: center;
  width: 100%;
}
.option {
  color: black;
}

.option:hover {
  background-color: #f1678a !important;
}

.option:focus {
  background-color: #f1678a;
  color: white;
}

.feedbackItem {
  /* vertical-align: auto; */
  width: 100%;
}
tbody tr {
  display: flex;
  justify-content: center;
  width: 100%;
}
.secondRow td {
  width: 100%;
}
.firstRow td {
  width: 100%;
}
.review {
  width: 60% !important;
}

tbody td {
  width: 70%;
  margin-bottom: 20px;
  margin-top: 10px;
}
.btn-group {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: lightgray !important;
}
.btn:hover {
  background-color: #f1678a !important;
}

.btn.choice:focus {
  background-color: #f1678a !important;
}
.btn.choice:active {
  background-color: #f1678a !important;
}